name: music_player
description: Music Player

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  audioplayers: ^5.2.0
  audioplayers_linux: ^3.1.0
  file_picker: ^5.5.0
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  sqlite3: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
